---
import Layout from '@layouts/Layout.astro';
import { SignIn } from 'astro-clerk-auth/components/interactive';
import {
  SignedIn,
  SignedOut,
  ClerkLayout,
} from 'astro-clerk-auth/components/control';
---

<ClerkLayout>
  <Layout title="Welcome to Astro.">
    <main>
      <p
        class="my-4 text-4xl font-bold tracking-tight text-center text-gray-900 sm:text-5xl"
      >
        SignedIn
      </p>
      <section class="flex flex-1items-center justify-center">
        <SignIn />
      </section>
    </main>
  </Layout>
</ClerkLayout>
