---
import Layout from '@layouts/Layout.astro';
import { SignUp } from 'astro-clerk-auth/components/interactive';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="p-unit-lg text-center font-bold">Sighn Up Page</h1>
    <SignUp />
  </main>
</Layout>
