---
import Layout from '@layouts/Layout.astro';
import { SignUp } from 'astro-clerk-auth/components/interactive';
---

<Layout title="Welcome to Astro.">
  <main>
    <p
      class="mt-2 text-4xl font-bold tracking-tight text-center text-gray-900 sm:text-5xl"
    >
      SignedUp
    </p>
    <SignUp />
  </main>
</Layout>
