---
import Layout from '@layouts/Layout.astro';
import Pricing from '@components/Pricing.astro';
import UI from '@components/UI';
---

<Layout title="Welcome to Astro.">
  <main>
    <p
      class="mt-2 text-4xl font-bold tracking-tight text-center text-gray-900 sm:text-5xl"
    >
      Invoice Wizard
    </p>

    <Pricing client:component-hydration />
    <UI client:visible />
  </main>
</Layout>
@components/UI
